@import '../../assets/scss/colors';
@import '../../assets/scss/variables';

.header {
  border-top: $small-px solid $blue-color;
  width: $max-parent;
  position: fixed;
  left: $no-px;
  z-index: $z-index-xlarge;
  background-color: #fff;
}