@import './colors';
@import './fonts';
@import './variables';

*,
::before,
::after {
  box-sizing: border-box;
}

html,
body {
  margin: $no-px;
  padding: $no-px;
}

html {
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  margin: $no-px;
  padding: $no-px;
  text-rendering: optimizelegibility;
}

main {
  #root {
    height: $total-height;
    width: $total-width;
    position: relative;
  }
}

.container {
  min-height: calc(#{$total-height} - (#{$footer-height} + #{$nav-height}));
  margin-bottom: $no-px;
  margin-top: $no-px;
  margin-left: auto;
  margin-right: auto;
  top: $nav-height;
  width: $max-width-container;
  position: relative;
  padding-bottom: $max-padding;
  margin-bottom: $max-margin;

  @media screen and (min-width: 768px) {
    width: $parent-xbig;
  }

  @media screen and (min-width: 1024px) {
    width: $parent-half;
  }

  @media screen and (min-width: 1200px) {
    width: $parent-big;
  }

  .markdown_text_transformed {
    @include text;

    strong {
      font-weight: $fw-semi-bold;
    }

    a {
      color: $brown-color;
      font-weight: $fw-semi-bold;
      text-decoration: none;

      &:hover {
        color: $red-color;
      }
    }
  }
}

button {

  &[role="presentation"],
  &[role='menuitem'] {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: $no-px;
  }
}