@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

@mixin generate-font($ff, $fs) {
  font-family: $ff, sans-serif;
  font-size: $fs;
}

@mixin title {
  @include generate-font('Raleway', $fs-xxbig);
  font-weight: $fw-medium;
}

@mixin subtitle {
  @include generate-font('Raleway', $fs-big);
  font-weight: $fw-regular;
}

@mixin text {
  @include generate-font('Raleway', $fs-normal);
  font-weight: $fw-regular;
}