@import '../../assets/scss/colors';
@import '../../assets/scss/fonts';
@import '../../assets/scss/variables';

.home-section {
  min-height: $min-height-container;
  padding-top: $padding-very-big;

  &__inner {
    align-content: center;
    display: flex;
    flex-direction: column;
    height: $max-parent;
    justify-content: center;
    text-align: center;
    width: $max-parent;


    &__title {
      @include title;
      color: $blue-color;
    }

    &__subtitle {
      @include subtitle;
      color: $green-color;
    }

    &__image {
      text-align: center;
      width: $max-parent;

      &__img {
        border-radius: $border-radius-half;
        width: $home-max-width-image;
      }
    }
  }


  &__content,
  &__articles {
    margin-top: $max-margin;
    width: $max-parent;
  }

  &__articles {
    &__last-articles {
      @include title;
      color: $blue-color;
      margin-bottom: $no-px;
    }

    &__more {
      @include text;
      color: $brown-color;
      margin-top: $no-px;
      text-decoration: none;
    }
  }
}