@import '../../assets/scss/colors';
@import '../../assets/scss/fonts';
@import '../../assets/scss/variables';

.bd-grid {
  display: grid;
  grid-template-columns: $max-parent;
  grid-column-gap: 2rem;
  width: $max-parent;
  padding-left: 1rem;
  padding-right: 1rem;
  box-shadow: 0px 6px 21px 0px rgba(0, 0, 0, 0.75);
}

.nav {
  @include text;

  height: $nav-height;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__menu {
    color: $blue-color;
    border-left: 1px solid $blue-color;
    position: fixed;
    top: $small-px;
    right: -#{$max-parent};
    width: $parent-very-big;
    height: $max-parent;
    padding: $padding-normal $padding-very-big;
    background-color: #fff;
    transition: $transition-normal;

    &.show {
      right: $no-px;
    }
  }

  &__logo {
    @include title;
    text-decoration: none;
  }

  &__list {
    padding: $no-px;
    position: relative;

    &:first-child {
      margin-bottom: $max-margin;
    }
  }

  &__close {
    position: absolute;
    right: $no-px;
    top: -#{$small-px};
    cursor: pointer;
  }

  &__title {
    @include title;

    margin-top: $no-px;
    margin-bottom: $margin-big;
    color: $brown-color;
    display: block;
  }

  &__item {
    @include subtitle;

    margin-bottom: $margin-normal;
    list-style-type: none;
  }

  &__link,
  &__social_link {
    color: $blue-color;
    position: relative;
    text-decoration: none;

    &:hover {
      position: relative;
    }
  }

  &__social_link {
    font-size: $fs-big;
  }

  &--social {
    display: flex;
    justify-content: space-between;
  }

  &__logo {
    color: $blue-color;
  }

  &__toggle {
    color: $blue-color;
    font-size: $very-big-px;
    cursor: pointer;
  }
}