@import '../../assets/scss/colors';
@import '../../assets/scss/fonts';
@import '../../assets/scss/variables';

.bd-grid {
  display: grid;
  grid-template-columns: $max-parent;
  grid-column-gap: 2rem;
  width: $max-parent;
  padding-left: $padding-normal;
  padding-right: $padding-normal;
  box-shadow: 0px 6px 21px 0px rgba(0, 0, 0, 0.75);
}

.nav {
  @include text;

  align-items: center;
  display: flex;
  height: $nav-height;
  justify-content: space-between;

  @media screen and (min-width: 768px) {
    display: flex;
    width: $max-parent;

    padding-left: $xxxbig-px;
    padding-right: $xxxbig-px;
  }

  &__menu {
    color: $blue-color;
    border-left: 1px solid $blue-color;
    position: fixed;
    top: $small-px;
    right: -#{$max-parent};
    width: $parent-very-big;
    height: $max-parent;
    padding: $padding-normal $padding-very-big;
    background-color: #fff;
    transition: $transition-normal;

    @media screen and (min-width: 500px) {
      width: $parent-half;
    }

    @media screen and (min-width: 600px) {
      width: $parent-big;
    }

    @media screen and (min-width: 768px) {
      position: relative;
      right: $no-px;
      border: none;
      background-color: transparent;
      display: flex;
      justify-content: flex-end;
      padding: $no-px;
      top: $no-px;
    }

    &.show {
      right: $no-px;
    }
  }

  &__logo {
    &__img {
      @include title;
      text-decoration: none;
    }
  }

  &__list {
    padding: $no-px;
    position: relative;

    @media screen and (min-width: 768px) {
      display: flex;
      height: 100%;
      align-items: center;

      &:last-child {
        display: none;
      }
    }

    &:first-child {
      margin-bottom: $max-margin;

      @media screen and (min-width: 768px) {
        margin: $no-px;
      }
    }
  }

  &__close {
    position: absolute;
    right: $no-px;
    top: -#{$small-px};
    cursor: pointer;

    @media screen and (min-width: 768px) {
      display: none;
    }
  }

  &__title {
    @include title;

    margin-top: $no-px;
    margin-bottom: $margin-big;
    color: $brown-color;
    display: block;

    @media screen and (min-width: 768px) {
      display: none;
    }
  }

  &__item {
    @include subtitle;

    margin-bottom: $margin-normal;
    list-style-type: none;

    &:not(:first-of-type) {
      @media screen and (min-width: 768px) {
        margin-left: $margin-normal;
      }
    }


    @media screen and (min-width: 768px) {
      margin-bottom: $no-px;
    }
  }

  &__link,
  &__social_link {
    color: $blue-color;
    position: relative;
    text-decoration: none;

    &:hover {
      position: relative;
    }
  }

  &__social_link {
    font-size: $fs-big;
  }

  &--social {
    display: flex;
    justify-content: space-between;
  }

  &__logo {
    color: $blue-color;
  }

  &__toggle {
    color: $blue-color;
    font-size: $very-big-px;
    cursor: pointer;

    @media screen and (min-width: 768px) {
      display: none;
    }
  }
}